div {
	border-radius: 2px;
}

@font-face {
    font-family: FuturaBook;
    src: url("/../font/Futura-Book.otf") format("opentype"));
}

#header-title {
	position: relative;
	margin-top: 5%;
	margin-left: 1em;
	font-size: 3em;
	font-family: FuturaBook;
	font-variant: small-caps;
	color: #ffffff;
}

#email{
	position: relative;
	margin-left: 3em;
	margin-top: -3em;
	padding-top: 5px;
	font-size: 20px;
	font-family: FuturaBook;
	color: #ffffff;
}

h1 {
	margin-left: 10px;
	margin-bottom: 15px;
	font-family: FuturaBook;
	font-weight: 500;
	font-variant: small-caps;
	font-size: 26px;
	color: #00a875;
}
h2{
	margin-left: 10px;
	margin-right: 5px;
	font-family: FuturaBook;
	font-size: 20px;
	font-variant: small-caps;
	color: #000000;
}
br2 {
	display: block;
	margin: 10px 0;
     }
.header {
	z-index: 1;
	width: 100%;
	height: 40vw;
	background-color: #00a875;
	margin-bottom: 5px;
	min-width: 345px;
	min-height: 170px;
	max-width: 960px;
	max-height: 200px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.about {
	z-index: 1;
	width: 100%;
	background-color: #ffffff;
	margin-bottom: 5px;
	min-width: 345px;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
IMG.logo{
	z-index: 2;
	width: 200px;
	height: 125px;
	margin-top: -140px;
	margin-right: 10px;
	float:right;
}
IMG.joblogo{
	z-index: 2;
	width: 50px;
	height: 50px;
	float:left;
}
.p {
	margin-left: 10px;
	margin-right: 5px;
	font-family: FuturaBook;
	font-size:14px;
	color: #000000;
}
.bullet{
	margin-left: 50px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: FuturaBook;
	font-size:14px;
	color: #000000;
	line-height: 20px;
}
.bullet li{
    list-style-type: none;
    position: relative;
    padding-left: 5px;
}
.bullet li:before{
	content: '>';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: -2px;
    left: -15px;
}

li {
	list-style-type: square;
}

a:hover {
	font-weight: bold;
}

.content {
	z-index: 1;
	width: 100%;
	background-color: #ffffff;
	margin-bottom: 10px;
	min-width: 345px;
	max-width: 960px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.left {
	position: relative;
	float: left;
	width: 58%;
	max-width: 677px;
	margin-left: auto;
	margin-right: auto;	
	height: auto;
	font-family: FuturaBook;
	font-size: 14px;
	margin-bottom: 5px;
	border-right-style: solid;
	border-right-color: #00a875;
}

.right {
	position: relative;
	float: left;
	height: 100%;
	width: 41%;
	max-width: 400px;
	margin-bottom: 5px;
	font-family: FuturaBook;
	font-size: 14px;
}

.footer {
	position: relative;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	height: 30px;
	min-width: 345px;
	max-width: 960px;
	background-color: #00a875;
	clear: both;
	font-family: FuturaBook;
	font-size: 14px;
	text-align: center;
	color: #000000;
}

#footer p {
	position: relative;
	padding-top: 15px;
}
