@font-face {
	font-family: FuturaBook;
	src: url("/../font/Futura-Book.otf") format("opentype");
}
body {
	background-color: #202E2F;
	font-family:FuturaBook;
	font-size: 20px;
	color: #ffffff;
}
html {
	overflow-y: scroll;
}
/* DIV Classes */
.wrapper {
	height: 97vh;
	width: 97vw;
}
.header {
	position: relative;
	height: 97vh;
	width: 920px;
	margin-left: auto;
	margin-right: auto;
	
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-size: 160px;
	background-position: 10% calc(50% - 100px);
}
.header-title {
	position: relative;
	float: right;
	height: 160px;
	width: 60%;
	top: calc(50% - 180px);
	right: 10%;
}
.header-des{
	position: absolute;
	float: left;
	height: 260px;
	width: 80%;
	top: 50%;
	left: 10%;
}
.navigation {
	position: absolute;
	height: 10px;
	width: 100%;
	bottom: 7vh;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-around;
}
/* DIV Classes */

/*Resume Styles*/
.content{
	position: relative;
	width: 960px;
	height: 4000px;
	margin-left: auto;
	margin-right: auto;
}
/*Resume Styles*/


/*Styles*/
header {
	font-size: 80px;
	font-variant-caps: small-caps;
	color:#F39267;
}
h1 {
	font-size: 30px;
	font-variant-caps: small-caps;
	color:#6CBBA8;
	text-align: center;
}
accent{
	color:#6CBBA8;
}
a {
	text-decoration: none;
}
button {
	display: inline-block;
	height: 50px;
	width: 150px;
	padding: 10px 30px;
	border-radius: 25px;
	border: none;
	background-color: transparent;
	box-sizing: border-box;
	font-family: FuturaBook;
	color:#F39267;
	font-size: 20px;
}
button:hover {
	background-color: #F39267;
	color: #202E2F;
}
button2 {
	display: inline-block;
	height: 50px;
	width: 200px;
	padding: 10px 30px;
	border-radius: 25px;
	border: solid;
	border-color: #F39267;
	border-width: 5px;
	box-sizing: border-box;
	font-family: FuturaBook;
	color:#F39267;
	font-size: 20px;	
	font-variant-caps: small-caps;

}
button2:hover {
	color: #6CBBA8;
	border-color: #6CBBA8;
}
/*Styles*/