@font-face {
	font-family: FuturaBook;
	src: url("/../font/Futura-Book.otf") format("opentype");
}
body {
	background-color: #202E2F;
	font-family:FuturaBook;
}
html {
	overflow-y: scroll;
}
/* DIV Classes */
.wrapper {
	height: 97vh;
	width: 97vw;
}
.header {
	position: relative;
	height: 97vh;
	width: 920px;
	margin-left: auto;
	margin-right: auto;
	
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-size: 160px;
	background-position: 10% 50%;
	
	border: dashed;
	border-color: #000000;
}
.header-title {
	position: absolute;
	float: right;
	height: 160px;
	width: 60%;
	top: calc(50% - 80px);
	right: 10%;
	
	
	border: dashed;
	border-color: #ffffff;
}
.navigation {
	position: absolute;
	height: 10px;
	width: 100%;
	bottom: 7vh;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-around;
}
/* DIV Classes */

/*Styles*/
header {
	font-size: 80px;
	font-variant-caps: small-caps;
	color:#F39267;
}
accent{
	color:#6CBBA8;
}
a {
	text-decoration: none;
}
button {
	display: inline-block;
	height: 50px;
	width: 120px;
	padding: 10px 30px;
	border-radius: 10px;
	border: none;
	background-color: transparent;
	box-sizing: border-box;
	font-family: FuturaBook;
	color:#F39267;
	font-size: 20px;
}
button:hover {
	background-color: #F39267;
	color: #202E2F;
}
/*Styles*/